#calculator 
{
  border: 1px solid rgb(187, 185, 180);
  border-radius:5px;
  width:200px;
}
#display
{
  margin:15px;
  width:85%
}
.button-conatiner 
{
 display:flex;
 justify-content: center;
 flex-wrap: wrap;
 gap:10px;
}
.button
{
  text-align: center;
  width:50px;
  height: 50px;
}