  body 
  {
    font-family: Arial;
  }
#Main-Heading
{
  text-align:center;                                                                                                                                            
}